.row {
    display: flex;
    align-items: center;
    gap: 1.125rem;
    // height: 360px;

    > * {
        height: 360px;
    }

    &:not(:first-child) {
        margin-top: 1.125rem;
    }

    &.row-1 > * {
        width: 100%;
    }

    &.row-2 > * {
        width: 50%;
    }

    &.row-3 > * {
        width: 33.33%;
    }
}

.h-unset {
    height: unset;
}

.w-100 {
    width: 100%;
}
